<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.micahmichelle"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.1.0" />

        <name>M&M's</name>

        <description>
        One down, forever to go! 
        </description>

        <author href="http://www.twitter.com/mmikeechu" email="maikeruian@gmail.com">
        Mikee Villegas
        </author>

    </widget>